<!-- <ion-content padding> -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Change password</ion-card-title></ion-card-header
  >
  <ion-card-content>
    <ion-text>Enter a new password. </ion-text>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label
          [ngClass]="{
            error: !password.valid && (password.dirty || password.touched)
          }"
          position="floating"
          color="blockbuster-bg"
          >Password</ion-label
        >
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <ion-text
            color="danger"
            *ngIf="
              password.hasError(validation.type) &&
              (password.dirty || password.touched)
            "
          >
            {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item>
        <ion-label
          [ngClass]="{
            error:
              !confirmPassword.valid &&
              (confirmPassword.dirty || confirmPassword.touched)
          }"
          position="floating"
          color="blockbuster-bg"
          >Confirm password</ion-label
        >
        <ion-input
          type="password"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.confirmPassword"
        >
          <ion-text
            color="danger"
            *ngIf="
              confirmPassword.hasError(validation.type) &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
          >
            {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="none">
        <ion-button
          [disabled]="!form.valid"
          type="submit"
          size="default"
          class="btn"
          >Submit</ion-button
        >
      </ion-item>
    </form>
  </ion-card-content>
</ion-card>
<!-- </ion-content> -->
