<ion-card>
  <form [formGroup]="customer" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>First name:</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>

      <ion-label *ngIf="form.firstName.errors && form.firstName.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.firstName.errors.required"
          color="danger"
          >First Name is required
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Last name:</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>

      <ion-label *ngIf="form.lastName.errors && form.lastName.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.lastName.errors.required"
          color="danger"
          >Last Name is required
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Username:</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>

      <ion-label *ngIf="form.username.errors && form.username.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.username.errors.required"
          color="danger"
          >Username is required
        </ion-label>
      </ion-label>
      <ion-label *ngIf="form.username.errors && form.username.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.username.errors.pattern"
          color="danger"
          >Username must have 6 characters and start with letter</ion-label
        >
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>

      <ion-label *ngIf="form.email.errors && form.email.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.email.errors.required"
          color="danger"
          >Email is required</ion-label
        >
      </ion-label>
      <ion-label *ngIf="form.email.errors && form.email.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.email.errors.email"
          color="danger"
          >Not valid mail</ion-label
        >
      </ion-label>
    </ion-item>

    <ion-card>
      <ion-title>Address</ion-title>

      <ion-item>
        <ion-label>Country:</ion-label>
        <ion-select
          formControlName="country"
          placeholder="Select One"
          (ionChange)="getCities($event)"
        >
          <ion-select-option
            [value]="country.countryId"
            *ngFor="let country of countries"
            >{{ country.country }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>District:</ion-label>
        <ion-input type="text" formControlName="district"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>City:</ion-label>
        <ion-select formControlName="city" placeholder="Select One">
          <ion-select-option
            [value]="city.cityId"
            *ngFor="let city of cities"
            >{{ city.city }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Postal code:</ion-label>
        <ion-input type="text" formControlName="postalCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Street:</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
    </ion-card>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-button id="eye-button" fill="clear" (click)="showPassword()">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-input [type]="passwordType" formControlName="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.password.errors && form.password.dirty">
      <ion-label
        class="ion-text-wrap"
        *ngIf="form.password.errors.pattern"
        color="danger"
        >Password must have 8 characters, 1 capital and 1 special
        character</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>RePassword:</ion-label>
      <ion-button id="eye-button" fill="clear" (click)="showRepassword()">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-input
        [type]="repasswordType"
        formControlName="repassword"
      ></ion-input>

      <ion-label *ngIf="form.repassword.errors && form.repassword.dirty">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.repassword.errors.required"
          color="danger"
          >Repassword is required</ion-label
        >
      </ion-label>

      <ion-label *ngIf="form.repassword.errors">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.repassword.errors.mustMatch"
          color="danger"
          >Password missmatch</ion-label
        >
      </ion-label>

      <ion-label *ngIf="form.repassword.errors">
        <ion-label
          class="ion-text-wrap"
          *ngIf="form.repassword.errors.pattern"
          color="danger"
          >Password missmatch</ion-label
        >
      </ion-label>
    </ion-item>

    <button class="button" type="submit" [disabled]="!customer.valid">
      Submit
    </button>
  </form>
</ion-card>
