<ion-card>
  <ion-card-header>
    <ion-card-title>Edit password</ion-card-title></ion-card-header
  >
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label
          [ngClass]="{
            error:
              !oldPassword.valid && (oldPassword.dirty || oldPassword.touched)
          }"
          position="floating"
          color="blockbuster-bg"
          >Old password</ion-label
        >
        <ion-input type="password" formControlName="oldPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.oldPassword"
        >
          <ion-text
            color="danger"
            *ngIf="
              oldPassword.hasError(validation.type) &&
              (oldPassword.dirty || oldPassword.touched)
            "
          >
            {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item>
        <ion-label
          [ngClass]="{
            error:
              !newPassword.valid && (newPassword.dirty || newPassword.touched)
          }"
          position="floating"
          color="blockbuster-bg"
          >New password</ion-label
        >
        <ion-input type="password" formControlName="newPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.newPassword"
        >
          <ion-text
            color="danger"
            *ngIf="
              newPassword.hasError(validation.type) &&
              (newPassword.dirty || newPassword.touched)
            "
          >
            {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item>
        <ion-label
          [ngClass]="{
            error:
              !confirmNewPassword.valid &&
              (confirmNewPassword.dirty || confirmNewPassword.touched)
          }"
          position="floating"
          color="blockbuster-bg"
          >Confirm password</ion-label
        >
        <ion-input
          type="password"
          formControlName="confirmNewPassword"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.confirmNewPassword"
        >
          <ion-text
            color="danger"
            *ngIf="
              confirmNewPassword.hasError(validation.type) &&
              (confirmNewPassword.dirty || confirmNewPassword.touched)
            "
          >
            {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item lines="none">
        <ion-button
          [disabled]="!form.valid"
          type="submit"
          size="default"
          class="btn"
          >Change password</ion-button
        >
      </ion-item>
    </form>
  </ion-card-content>
</ion-card>
