<ion-header translucent>
  <ion-toolbar color="blockbuster-bg">
    <ion-title>Log in</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="blockbuster-bg" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label
                [ngClass]="{
                  error: !email.valid && (email.dirty || email.touched)
                }"
                position="floating"
                color="blockbuster-bg"
                >Email</ion-label
              >
              <ion-input
                type="email"
                placeholder="your@email.com"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validation_messages.email"
              >
                <ion-text
                  color="danger"
                  *ngIf="
                    email.hasError(validation.type) &&
                    (email.dirty || email.touched)
                  "
                >
                  {{ validation.message }}
                </ion-text>
              </ng-container>
            </div>
            <ion-item>
              <ion-label
                [ngClass]="{
                  error: !password.valid && (password.dirty || password.touched)
                }"
                position="floating"
                color="blockbuster-bg"
                >Password</ion-label
              >
              <ion-input
                type="password"
                placeholder="Password"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validation_messages.password"
              >
                <ion-text
                  color="danger"
                  *ngIf="
                    password.hasError(validation.type) &&
                    (password.dirty || password.touched)
                  "
                >
                  {{ validation.message }}
                </ion-text>
              </ng-container>
            </div>
          </div>
          <div padding>
            <ion-button
              color="blockbuster-bg"
              size="large"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              >Login</ion-button
            >
          </div>
          <div class="texts">
            <ion-text
              color="blockbuster-bg"
              class="link"
              (click)="navigateToForgotPassword()"
            >
              Forgot your password?
            </ion-text>
            <ion-text
              color="blockbuster-bg"
              class="link"
              (click)="navigateToRegister()"
            >
              Don't have an account?
            </ion-text>
          </div>
          <ion-row *ngIf="error">
            <ion-label color="danger">{{ error }}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
