<app-header [backButton]="true" subheader="PROFILE"></app-header>

<ion-content fullscreen="true">
  <div class="bg-container">
    <ion-img
      src="https://cbsnews1.cbsistatic.com/hub/i/2018/07/17/7e73dd77-ba1d-40d7-a76b-53443bb8651a/0717-ctm-lastblockbuster-yuccas2.jpg"
    >
    </ion-img>
  </div>

  <ion-card style="height: 55vh">
    <div class="img-wrapper">
      <ion-avatar *ngIf="profile">
        <img
          *ngIf="!profile.avatarUrl"
          src="https://www.w3schools.com/w3images/avatar6.png"
        />
        <img *ngIf="profile.avatarUrl" src="{{profile.avatarUrl}}" />
      </ion-avatar>

      <ion-button color="light" (click)="imageInput.click()">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>

    <input
      class="uploadImageButton"
      #imageInput
      type="file"
      accept="image/*"
      (change)="imageInputChange()"
    />

    <ion-card-content class="ion-text-center">
      <h2 *ngIf="profile">{{profile.firstName}} {{profile.lastName}}</h2>
      <ion-text color="medium">
        <div style="display: flex" class="ion-justify-content-center"></div>
      </ion-text>

      <form [formGroup]="formProfile" (ngSubmit)="onSubmit()">
        <ion-list *ngIf="profile" no-padding>
          <ion-item>
            <ion-input
              [(ngModel)]="profile.firstName"
              placeholder="First name"
              id="firstName"
              formControlName="firstName"
            ></ion-input>
          </ion-item>
          <span
            *ngIf="!formProfile.get('firstName').valid && formProfile.get('firstName').touched"
          >
            Plese enter a valid first name!
          </span>

          <ion-item>
            <ion-input
              [(ngModel)]="profile.lastName"
              placeholder="Last name"
              id="lastName"
              formControlName="lastName"
            >
            </ion-input>
          </ion-item>
          <span
            *ngIf="!formProfile.get('lastName').valid && formProfile.get('lastName').touched"
          >
            Plese enter a valid last name!
          </span>

          <ion-item>
            <ion-input
              [(ngModel)]="profile.username"
              placeholder="Username"
              type="text"
              id="username"
              formControlName="username"
            >
            </ion-input>
          </ion-item>

          <span
            *ngIf="!formProfile.get('username').valid && formProfile.get('username').touched && formProfile.get('username').errors['nameIsForbidden'] "
          >
            This already exists!
          </span>

          <ion-item>
            <ion-input
              [(ngModel)]=" profile.email"
              placeholder="E-mail"
              type="text"
              id="email"
              formControlName="email"
            >
            </ion-input>
          </ion-item>
          <span
            *ngIf="!formProfile.get('email').valid && formProfile.get('email').touched"
          >
            Plese enter a valid email!
          </span>

          <ion-item>
            <ion-input
              placeholder="Password"
              type="password"
              id="password"
              formControlName="password"
            >
            </ion-input>
            <ion-button no-padding color="light" (click)="showPassword()">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <span
            *ngIf="!formProfile.get('password').valid && formProfile.get('password').touched"
          >
            Plese enter a valid password!
          </span>

          <ion-button
            [disabled]="!formProfile.valid"
            type="submit"
            color="blockbuster-bg"
            expand="block"
            fill="outline"
          >
            Submit
          </ion-button>

          <!-- <app-favourites-films></app-favourites-films> -->
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
