<!-- <ion-content padding> -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Reset password</ion-card-title></ion-card-header
  >
  <ion-card-content>
    <ion-text
      >Here you can reset your forgotten password and unlock your account. Enter
      your email, check confirm and click SUBMIT.
    </ion-text>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label
          [ngClass]="{
            error: !email.valid && (email.dirty || email.touched)
          }"
          position="floating"
          color="blockbuster-bg"
          >Email</ion-label
        >
        <ion-input
          type="email"
          placeholder="your@email.com"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <ion-text
            color="danger"
            *ngIf="
              email.hasError(validation.type) && (email.dirty || email.touched)
            "
          >
            {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
      <ion-item>
        <ion-label
          [ngClass]="{
            confirm: !confirm.valid && (confirm.dirty || confirm.touched)
          }"
          color="blockbuster-bg"
          >Confirm password reset</ion-label
        >
        <ion-checkbox formControlName="confirm" slot="end"></ion-checkbox>
      </ion-item>
      <ion-item lines="none">
        <ion-button
          [disabled]="!form.valid || loading"
          type="submit"
          size="default"
          class="btn"
          ><div *ngIf="!loading">Submit</div>
          <ion-spinner *ngIf="loading"></ion-spinner>
        </ion-button>
      </ion-item>
    </form>
  </ion-card-content>
</ion-card>
<!-- </ion-content> -->
